<html xmlns:th="https://www.thymeleaf.org"
      th:replace="~{fragments/admin/layout :: layout (~{::body},'setProductForm')}">

<head>
  <title>상품 등록</title>
</head>
<body>

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<div class="row">
  <div class="col-md-6 d-flex align-items-stretch grid-margin">
    <div class="row flex-grow">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <h4 class="form-title">
              <th:block
                  th:if="${productDTO.id == null}"
              >
                새로운 상품등록
              </th:block>
              <th:block
                  th:if="${productDTO.id != null}"
              >
                상품 수정
              </th:block>
            </h4>
            <form class="forms-sample"
                  method="post"
                  th:action="@{/product/set}"
                  th:object="${productDTO}"
                  enctype="multipart/form-data"
            >
              <input th:replace="~{fragments/admin/inputGroupSelect :: select ('분류등록', ${shopGroupList})}"/>

              <input th:replace="~{fragments/admin/inputHiddenValidField :: hidden ('shopGroupIds', 'shopGroupIds')}"/>

              <div id="groupText" class="form-control group-text-form"></div>


              <input th:replace="~{fragments/admin/inputHiddenField :: hidden ('id')}"/>
              <input th:replace="~{fragments/admin/inputField :: input ('상품 이름', 'productName', 'text')}"/>
              <input th:replace="~{fragments/admin/inputField :: input ('상품 사진', 'fileStorage', 'file')}"/>

              <!-- 기존에 업로드된 파일 목록 -->
              <input th:replace="~{fragments/admin/inputHiddenField :: hidden ('fileStorageIds')}"/>
              <input th:replace="~{fragments/admin/inputHiddenField :: hidden ('deleteFileStorageIds')}"/>
              <div class="row mb-3">
                <div th:each="file : ${dbFile}" class="col-sm-4" th:id="${'file-id-' + file.id}">
                  <div>
                    <img th:src="${file.fileDownloadUri}" alt="" class="img-thumbnail">
                  </div>
                  <div th:text="${file.fileName}" class="text-gray ellipsis mb-2"></div>
                  <div class="mb-2">
                    <button class="btn btn-danger" type="button" th:onclick="|javascript:deleteFile('${file.id}')|">삭제</button>
                  </div>
                </div>
              </div>

              <input th:replace="~{fragments/admin/inputField :: input ('상품 설명', 'explanation', 'text')}"/>

              <input th:replace="~{fragments/admin/agreeField :: agree ('판매가능', 'enabled')}"/>
              <input th:replace="~{fragments/admin/agreeField :: agree ('전화문의', 'callQuestion')}"/>
              <input th:replace="~{fragments/admin/agreeField :: agree ('쿠폰사용 가능상태', 'cuponEnabled')}"/>
              <input th:replace="~{fragments/admin/agreeField :: agree ('포인트사용 가능상태', 'pointEnabled')}"/>
              <input th:replace="~{fragments/admin/agreeField :: agree ('리뷰작성 상태', 'reviewState')}"/>

              <input th:replace="~{fragments/admin/inputField :: input ('상품 태그', 'tag', 'text')}"/>
              <input th:replace="~{fragments/admin/inputField :: input ('상품 타입', 'productType', 'text')}"/>
              <input th:replace="~{fragments/admin/inputField :: input ('상품 내용', 'content', 'textarea')}"/>
              <input th:replace="~{fragments/admin/inputField :: input ('가격', 'price', 'number')}"/>
              <input th:replace="~{fragments/admin/inputField :: input ('할인율', 'discount', 'number')}"/>
              <input th:replace="~{fragments/admin/inputField :: input ('포인트 적립율', 'point', 'number')}"/>
              <input th:replace="~{fragments/admin/inputField :: input ('수량', 'quantity', 'number')}"/>
              <input th:replace="~{fragments/admin/inputField :: input ('최소구매 수량', 'buyMinQuantity', 'number')}"/>
              <input th:replace="~{fragments/admin/inputField :: input ('최대구매 수량', 'buyMaxQuantity', 'number')}"/>
              <input th:replace="~{fragments/admin/inputField :: input ('판매예약', 'reservationSale', 'date')}"/>
              <input th:replace="~{fragments/admin/inputField :: input ('판매종료', 'endSale', 'date')}"/>
              <input th:replace="~{fragments/admin/inputField :: input ('출력순서', 'priority', 'number')}"/>

              <button type="submit" class="btn btn-success mr-2">등록</button>
              <a th:href="@{/product}" class="btn btn-light">취소</a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</form>

<script>

  function groupHandle(target) {
    var targetArr = target.split(',');

    var initValue = document.getElementById("shopGroupIds").value;

    if(initValue.indexOf(targetArr[0]) === -1) {
      if(initValue.length === 0) {
        document.getElementById("shopGroupIds").value = targetArr[0];
      } else {
        document.getElementById("shopGroupIds").value = initValue + "," + targetArr[0];
      }

      groupTextHandle(targetArr);
    }
  }

  /* 선택된 그룹 삭제 메소드 */
  function groupDeleteHandle(e) {
    var thisEl = e.target.dataset.id;
    var deleteEl = document.getElementById(thisEl);
    deleteEl.remove();

    var thisElArr = thisEl.split('-');

    var initValue = document.getElementById("shopGroupIds").value;
    var targetArr = initValue.split(',');

    targetArr.splice(targetArr.indexOf(thisElArr[1]),1);

    document.getElementById("shopGroupIds").value = targetArr.join(',');
  }

  /* View Text */
  function groupTextHandle(targetArr) {
    var theDiv = document.getElementById("groupText");
    var newDiv = document.createElement("div");
    newDiv.id = "group-" + targetArr[0];
    newDiv.className = "group-css btn-success";
    var content = document.createTextNode(targetArr[1]);

    var newBtn = document.createElement("span");
    newBtn.setAttribute("data-id", "group-" + targetArr[0]);
    var btnContent = document.createTextNode("close");
    newBtn.className = "material-icons deleteGroup";
    newBtn.appendChild(btnContent);
    newBtn.onclick = groupDeleteHandle;

    newDiv.appendChild(content);
    newDiv.appendChild(newBtn);
    theDiv.appendChild(newDiv);
  }

  /* 상품에 등록된 분류선택지를 초기화면에 보여줍니다. */
  (function () {
    var initValue = document.getElementById("shopGroupIds").value;
    var elementById = document.getElementById("group-select").options;

    for(var i = 0; i < elementById.length; i++) {

      var targetArr = elementById[i].value.split(',');
      var initValueArr = initValue.split(',');

      if(initValueArr.indexOf(targetArr[0]) !== -1) {
        groupTextHandle(targetArr);
      }
    }
  })();

  /* 이미지 파일삭제 메소드 */
  function deleteFile(target) {
    var initValue = document.getElementById("deleteFileStorageIds").value;

    document.getElementById("file-id-"+target).remove();

    if (initValue.length === 0) {
      document.getElementById("deleteFileStorageIds").value = target;
    } else {
      document.getElementById("deleteFileStorageIds").value = initValue + "," + target;
    }
  }

</script>

</body>
</html>