<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jjunpro.shop.mapper.AccountMapper">

  <select id="findById" resultType="account">
        SELECT  id
                username,
                email,
                createddate
        FROM account
        WHERE ID = #{id}
    </select>

  <select id="findAll" resultType="account">
        SELECT  id,
                username,
                email,
                createddate
        FROM account
    </select>

  <select id="findByUsername" resultType="account">
    SELECT * FROM account WHERE username = #{username}
  </select>

  <select id="findByEmail" resultType="account">
    SELECT * FROM account WHERE email = #{email}
  </select>

  <select id="findEmailByUsernameAndPhoneNumber" resultType="account">
    SELECT email, username, createddate FROM account WHERE username = #{username} AND phoneNumber = #{phoneNumber}
  </select>

  <select id="findByEmailAndEnabled" resultType="account">
    SELECT * FROM account WHERE email = #{email} AND #{enabled} = true
  </select>

  <insert id="insertAccount" useGeneratedKeys="true" keyProperty="id">
    INSERT INTO account (
        username, email, password, enabled, userRole, ageRange, birthday, gender, postcode, addr1, addr2, phoneNumber, createddate
    )
    VALUES (
        #{username},
        #{email},
        #{password},
        #{enabled},
        #{userRole},
        #{ageRange},
        #{birthday},
        #{gender},
        #{postcode},
        #{addr1},
        #{addr2},
        #{phoneNumber},
        CURRENT_TIMESTAMP
    )
  </insert>

  <update id="updateAccount" useGeneratedKeys="true" keyProperty="id">
    UPDATE account
    SET
    username = #{username},
    email = #{email},
    password = #{password},
    enabled = #{enabled},
    userRole = #{userRole},
    ageRange = #{ageRange},
    birthday = #{birthday},
    gender = #{gender}
    modifiedDate = CURRENT_TIMESTAMP
    WHERE id = #{id}
  </update>

</mapper>