<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jjunpro.shop.mapper.FileStorageMapper">

  <insert id="insert" useGeneratedKeys="true" keyProperty="id">
    INSERT INTO
        filestorage (
            createddate, modifiedDate, fileName, fileDownloadUri, fileType, fileSize
        )
    VALUES (
        CURRENT_TIMESTAMP,
        CURRENT_TIMESTAMP,
        #{fileName},
        #{fileDownloadUri},
        #{fileType},
        #{fileSize}
    );
  </insert>

  <select id="findById" resultType="FileStorage">
    SELECT * FROM
        filestorage
    WHERE
        id = #{id}
  </select>

  <delete id="delete">
    DELETE FROM
        filestorage
    WHERE
        id = #{id};
  </delete>
</mapper>