<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jjunpro.shop.mapper.ProductOrderMapper">

  <insert id="insert" useGeneratedKeys="true" keyProperty="id">
    INSERT INTO product_order (ip, enabled, createddate, modifiedDate, orderName, orderEmail,
                               orderPhone, postcode,
                               addr1, addr2, memo, payment, useCupon, usePoint, totalAmount,
                               productNames, productIds,
                               productQuantitys, productAmounts, productThumbs, accountId,
                               orderState,
                               receivePoint)
    VALUES (#{ip},
            #{enabled},
            CURRENT_TIMESTAMP,
            CURRENT_TIMESTAMP,
            #{orderName},
            #{orderEmail},
            #{orderPhone},
            #{postcode},
            #{addr1},
            #{addr2},
            #{memo},
            #{payment},
            #{useCupon},
            #{usePoint},
            #{totalAmount},
            #{productNames},
            #{productIds},
            #{productQuantitys},
            #{productAmounts},
            #{productThumbs},
            #{accountId},
            #{orderState},
            #{receivePoint});
  </insert>

  <select id="findByIdAdmin" resultType="ProductOrder">
    SELECT *
    FROM product_order
    WHERE id = #{id};
  </select>

  <select id="findById" resultType="ProductOrder">
    SELECT *
    FROM product_order
    WHERE enabled = true
      AND id = #{id};
  </select>

  <select id="findByAccountIdList" resultType="ProductOrder">
    SELECT *
    FROM product_order
    WHERE enabled = true
      AND accountId = #{accountId}
    ORDER BY createddate DESC;
  </select>

  <update id="orderCancel">
    UPDATE product_order
    SET orderState = 3
    WHERE id = #{id};
    --     WHERE orderState = 0
--        OR orderState = 1
--        OR orderState = 2;
  </update>

  <select id="findTotalAmountByOrderState" resultType="Integer">
    SELECT SUM(totalAmount) AS totalAmount
    FROM product_order
    WHERE orderstate = 1
       OR orderstate = 2;
  </select>

  <select id="findCountByAll" resultType="Integer">
    SELECT COUNT(*) AS totalCount
    FROM product_order;
  </select>

  <select id="findCountByOrderState" resultType="Integer">
    SELECT COUNT(*) AS totalCount
    FROM product_order
    WHERE orderstate = 1
       OR orderstate = 2;
  </select>

  <select id="findAllAdmin" resultType="ProductOrder">
    SELECT *
    FROM product_order
    ORDER BY createddate DESC
    LIMIT 20;
  </select>

  <update id="updateOrderStateById">
    UPDATE product_order
    SET orderState = #{orderState}
    WHERE id = #{id};
  </update>
</mapper>