<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jjunpro.shop.mapper.ProductMapper">

  <insert id="insert" useGeneratedKeys="true" keyProperty="id">
    INSERT INTO
        product (
          ip, enabled, createddate, modifiedDate, productName, explanation, tag, productType,
          callQuestion, cuponEnabled, pointEnabled, content, summaryInfo, price, discount, point,
          quantity, buyMinQuantity, buyMaxQuantity, reviewState, reservationSale, endSale, priority,
          shopGroupIds, fileStorageIds
        )
    VALUES (
        #{ip},
        #{enabled},
        CURRENT_TIMESTAMP,
        CURRENT_TIMESTAMP,
        #{productName},
        #{explanation},
        #{tag},
        #{productType},
        #{callQuestion},
        #{cuponEnabled},
        #{pointEnabled},
        #{content},
        #{summaryInfo},
        #{price},
        #{discount},
        #{point},
        #{quantity},
        #{buyMinQuantity},
        #{buyMaxQuantity},
        #{reviewState},
        #{reservationSale},
        #{endSale},
        #{priority},
        #{shopGroupIds},
        #{fileStorageIds}
    );
  </insert>

  <update id="update" useGeneratedKeys="true" keyProperty="id">
    UPDATE
        product
    SET
        ip = #{ip},
        enabled = #{enabled},
        modifiedDate = CURRENT_TIMESTAMP,
        productName = #{productName},
        explanation = #{explanation},
        tag = #{tag},
        productType = #{productType},
        callQuestion = #{callQuestion},
        cuponEnabled = #{cuponEnabled},
        pointEnabled = #{pointEnabled},
        content = #{content},
        summaryInfo = #{summaryInfo},
        price = #{price},
        discount = #{discount},
        point = #{point},
        quantity = #{quantity},
        buyMinQuantity = #{buyMinQuantity},
        buyMaxQuantity = #{buyMaxQuantity},
        reviewState = #{reviewState},
        reservationSale = #{reservationSale},
        endSale = #{endSale},
        priority = #{priority},
        shopGroupIds = #{shopGroupIds},
        fileStorageIds = #{fileStorageIds}
    WHERE
        id = #{id};
  </update>

  <delete id="delete">
    DELETE FROM
        product
    WHERE
        id = #{id};
  </delete>

  <!-- 일반 사용자가 접근하는 함수 -->
  <select id="findAll" resultType="Product">
    SELECT * FROM
        product
    WHERE
        enabled = true
    ORDER BY createddate DESC LIMIT 20;
  </select>

  <!-- 관리자 전용 접근 함수 -->
  <select id="findAllAdmin" resultType="Product">
    SELECT * FROM
        product
    ORDER BY createddate DESC LIMIT 20;
  </select>

  <select id="findById" resultType="Product">
    SELECT * FROM
        product
    WHERE
        id = #{id};
  </select>

  <select id="findCountByShopGroupId" resultType="Integer">
    SELECT COUNT(*) FROM
        product
    WHERE
        shopGroupIds LIKE '%,'||#{shopGroupId}||',%';
  </select>

  <update id="updateQuantity">
    UPDATE product
    SET
        quantity = #{afterQuantity}
    WHERE
        id = #{id};
  </update>

  <select id="findByShopGroupId" resultType="Product">
    SELECT * FROM
        product
    WHERE
        enabled = true
    AND
        shopGroupIds LIKE '%,'||#{shopGroupId}||',%'
    ORDER BY createddate DESC;
  </select>

</mapper>