<footer xmlns:th="http://www.thymeleaf.org" th:fragment="footer">
  <div class="container-box col-box">
    <div class="col-50">
      <h1 class="footer-logo">
        <a th:href="@{/}">JJunpro</a>
      </h1>
      <ul class="info-link">
        <li><a href="#">이용약관</a></li>
        <li><a href="#">개인정보처리방침</a></li>
        <li><a href="#">쇼핑몰 이용안내</a></li>
        <li><a href="#">고객센터</a></li>
      </ul>
      <ul class="copy-info">
        <li>주식회사 : JJunpro</li>
        <li>대표이사 : 김민석</li>
        <li>사업자등록번호 : 000-00-00000</li>
        <li>통신판매업신고 : 000-00-00000</li>
        <li>주소 : 서울특별시 중랑구 망우동</li>
        <li>TEL : 010-4021-1220</li>
      </ul>
      <div class="copy">
        Copyright by JJunpro all rights reserved. designed by WISA.
      </div>
    </div>
    <div class="col-50 right-box col-box">
      <div class="col-33">
        <div class="sm-title">ABOUT ANDAR</div>
        <ul>
          <li><a href="#">브랜드 스토리</a></li>
          <li><a href="#">공지사항</a></li>
        </ul>
      </div>
      <div class="col-33">
        <div class="sm-title">CALL CENTER</div>
        <ul>
          <li><a href="tel:010-4021-1220" class="bank-name">010-4021-1220</a></li>
          <li>평일 AM 10:00 ~ PM 06:00</li>
          <li>점심 PM 12:00 ~ PM 01:00</li>
          <li>(휴무 토 / 일 / 공휴일)</li>
        </ul>
      </div>
      <div class="col-33">
        <div class="sm-title">BANK INFO</div>
        <ul>
          <li class="bank-name">국민은행 000-00-000000</li>
          <li class="bank-name">신한은행 000-00-000000</li>
          <li>예금주 JJunpro</li>
        </ul>
      </div>
    </div>
  </div>
</footer>