<header
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
    th:fragment="header">
  <div class="container-box">
    <div class="header-top col-box">
      <div class="col-50">
        <h1 class="header-logo"><a th:href="@{/}">JJunpro</a></h1>
      </div>
      <nav class="nav-bar col-50">
        <ul>
          <li sec:authorize="!isAuthenticated()">
            <a th:href="@{/login}">로그인</a>
          </li>
          <li sec:authorize="isAuthenticated()">
            <a th:href="@{/logout}">로그아웃</a>
          </li>
          <li sec:authorize="!isAuthenticated()">
            <a th:href="@{/join}">회원가입</a>
          </li>
          <li><a th:href="@{/order/cart}">장바구니</a></li>
          <li sec:authorize="isAuthenticated()">
            <a th:href="@{/order/receipt/list}">나의 구매</a>
          </li>
          <li><a href="">고객센터</a></li>
        </ul>
      </nav>
    </div>
    <div class="header-bottom">

      <div class="group-menu col-box">
        <!-- 분류 리스트 재귀함수 출력 -->
        <th:block th:if="${shopGroupList.size() > 0}"
                  th:include="@{fragments/menu/shopGroup} :: list (0)"
                  th:with="group=${shopGroupList}"></th:block>
      </div>

    </div>
  </div>
</header>