<html xmlns:th="https://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'product-view')}">

<body>

<div class="product-view container-box">
  <div class="row">
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
      <img class="product-list-img img-thumbnail"
           th:src="${product.getFileStorageList().isEmpty() ? 'none' : 'https://storage.googleapis.com/jjunpro-storage/' + product.getFileStorageList().get(0).fileDownloadUri}"
           onError="this.onerror=null;this.src='/image/none-img.png';"
           alt="상품이미지">
      </th:block>
    </div>
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
      <form
          method="post"
          th:action="@{/order/view}"
          th:object="${productSet}"
      >
        <input type="hidden" name="setId" id="setId" th:value="${product.id}">

        <h2 class="product-title" th:text="${product.productName}"></h2>
        <div class="product-price">
        <span class="real-price"
              th:text="${#numbers.formatDecimal(product.price, 0, 'COMMA', 0, 'POINT') + 'WON'}"></span>
        </div>
        <div class="option-line"></div>
        <div th:utext="${#strings.replace(#strings.escapeXml(product.explanation),'&#10;','<br>')}"
             class="product-desc"></div>
        <div class="option-line"></div>
        <th:block th:if="${product.discount > 0}">
          <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">할인</div>
            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12">
              <b th:text="${product.discount + '%'}"></b>
            </div>
          </div>
        </th:block>
        <th:block th:if="${product.pointEnabled}">
          <div class="row my-3">
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">적립금</div>
            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12">
              <b>
                [
                <th:block th:text="${product.point}"></th:block>
                %]
                <th:block
                    th:text="${#numbers.formatDecimal((product.price - (product.price * product.discount / 100)) * product.point / 100, 0, 'COMMA', 0, 'POINT') + ' WON'}"></th:block>
              </b>
            </div>
          </div>
        </th:block>
        <div class="row my-3">
          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">수량</div>
          <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12">
            <input type="number" name="setQuantity" id="setQuantity" class="quantity-input"
                   value="1" th:onchange="'maxQuantityCheck(\''+ ${product.quantity} +'\', this)'">
            <div class="my-3">최대 <b th:text="${product.quantity}"></b>개 까지 구매 가능합니다.</div>
          </div>
        </div>
        <div class="option-line"></div>
        <div class="price-sum clearfix">
          <span class="float-left">TOTAL PRICE</span>
          <span class="float-right"
                th:text="${#numbers.formatDecimal(product.price - (product.price * product.discount / 100), 0, 'COMMA', 0, 'POINT') + ' WON'}">0</span>
        </div>
        <th:block th:if="${product.quantity > 0}">
          <th:block th:if="${product.enabled}">
            <div class="row">
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                <button type="button" class="product-btn cart-btn" onclick="cartAdd()">장바구니</button>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                <button type="submit" class="product-btn buy-btn">바로구매</button>
              </div>
            </div>
          </th:block>
          <div th:if="${!product.enabled}" class="product-enalbed-f">
            구매할 수 없는 상품입니다.
          </div>
        </th:block>
        <div th:if="${product.quantity <= 0}" class="product-enalbed-f">
          품절된 상품입니다.
        </div>
    </div>
    </form>
  </div>

  <div class="content">
    <th:block th:each="file, index : ${product.fileStorageList}">
      <th:block th:if="${index.index > 0}">
        <img class="product-list-img img-thumbnail"
             th:src="${'https://storage.googleapis.com/jjunpro-storage/' + #strings.replace(#strings.escapeXml(file.fileDownloadUri),'/thumb-','/')}"
             onError="this.onerror=null;this.src='/image/none-img.png';"
             alt="상품이미지">
      </th:block>
    </th:block>
    <div class="view-text"
         th:utext="${#strings.replace(#strings.escapeXml(product.content),'&#10;','<br>')}"></div>
  </div>
</div>

<!-- 장바구니 추가 -->
<script>
  function setCookie(cookie_name, value, days) {
    var exdate = new Date();
    exdate.setDate(exdate.getDate() + days);
    // 설정 일수만큼 현재시간에 만료값으로 지정

    var cookie_value = escape(value) + ((days == null) ? '' : ';    expires='
        + exdate.toUTCString());
    document.cookie = cookie_name + '=' + cookie_value;
  }

  function getCookie(cookie_name) {
    var x, y;
    var val = document.cookie.split(';');

    for (var i = 0; i < val.length; i++) {
      x = val[i].substr(0, val[i].indexOf('='));
      y = val[i].substr(val[i].indexOf('=') + 1);
      x = x.replace(/^\s+|\s+$/g, ''); // 앞과 뒤의 공백 제거하기
      if (x == cookie_name) {
        return unescape(y); // unescape로 디코딩 후 값 리턴
      }
    }
  }

  function cartAdd() {
    var setId = document.getElementById("setId").value;
    var setQuantity = document.getElementById("setQuantity").value;

    if (setId === '' || setQuantity === '') {
      alert("수량을 작성해 주세요.");
      return false;
    }

    /* 장바구니 쿠키 초기화 */
    if (getCookie("Cart") === undefined) {
      var jsonData = {
        "setId": "",
        "setQuantity": ""
      };

      var stringify = JSON.stringify(jsonData);
      setCookie('Cart', stringify, '3');
    }

    var item = JSON.parse(getCookie("Cart"));

    if (item !== null) {
      /* 추가하려는 장바구니 상품이 이미 존재하는경우 수량만 변경 */
      var idArr = item.setId.split(",");
      var quantityArr = item.setQuantity.split(",");

      if (idArr.indexOf(setId) !== -1) {
        quantityArr[idArr.indexOf(setId)] = setQuantity;
        var strings = quantityArr.join(",");

        var jsonData = {
          "setId": item.setId,
          "setQuantity": strings
        };
      } else {
        var jsonData = {
          "setId": ',' + setId + item.setId,
          "setQuantity": ',' + setQuantity + item.setQuantity
        };
      }
    } else {
      var jsonData = {
        "setId": ',' + setId + ',',
        "setQuantity": ',' + setQuantity + ','
      };
    }

    var stringify = JSON.stringify(jsonData);

    setCookie('Cart', stringify, '3');

    var local = confirm("장바구니로 이동하시겠습니까?");

    if (local) {
      window.location = "/order/cart";
    }
  }

  /* 상품의 재고를 확인하여 수량을 확인시켜 줍니다. */
  function maxQuantityCheck(maxQuantity, e) {
    if (maxQuantity * 1 < e.value) {
      alert("정해진 수량 " + maxQuantity + "개 보다 많습니다.");
      return false;
    }
  }
</script>

</body>
</html>