<html xmlns:th="https://www.thymeleaf.org">

<div class="product-list container-box">
  <div class="row">
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card"
         th:each="product : ${productList}">
      <a th:href="@{/order/view(id=${product.id})}">
        <div class="card card-statistics">
          <img class="product-list-img img-thumbnail"
               th:src="${product.thumbnail}"
               onError="this.onerror=null;this.src='/image/none-img.png';"
               alt="">
          <div th:text="${product.productName}" class="product-title text-truncate"></div>
          <div class="product-content">
            <span class="real-price"
                  th:text="${#numbers.formatDecimal(product.price, 0, 'COMMA', 0, 'POINT') + 'WON'}"></span>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>