<html xmlns:th="https://www.thymeleaf.org"
      lang="en">
<body>
<th:block th:fragment="input (label, name, type)">
  <div th:with="valid=${!#fields.hasErrors(name)}"
       th:class="${'form-group' + (valid ? '' : ' has-error')}"
       class="form-group">
    <label th:for="${name}" th:text="${label}">Label</label>
    <th:block th:switch="${type}">
      <input th:case="'text'" class="form-control" type="text" th:field="*{__${name}__}"
      />
      <th:block th:case="'date'">
        <input class="form-control" type="text" th:field="*{__${name}__}"
               th:id="${name}"
               autocomplete = "off"
               readonly="readonly"
               placeholder="YYYY-MM-DD" title="Enter a date in this format: YYYY-MM-DD"/>

        <script th:inline="javascript">
          /*<![CDATA[*/
          $([['#' + ${name}]]).datepicker({
            dateFormat: 'yy-mm-dd 00:00:00'
          });
          /*]]>*/
        </script>
      </th:block>
      <input th:case="'email'" class="form-control" type="email" th:field="*{__${name}__}"
      />
      <input th:case="'password'" class="form-control" type="password"
             th:field="*{__${name}__}"/>
      <input th:case="'number'" class="form-control" type="number"
             th:field="*{__${name}__}"/>
      <input th:case="'hidden'" class="form-control" type="hidden"
             th:field="*{__${name}__}"/>
      <input th:case="'file'" class="form-control" type="file" multiple="multiple"
             th:field="*{__${name}__}"/>
      <textarea class="form-control product-area" rows="2" th:case="textarea"
                th:field="*{__${name}__}"></textarea>
    </th:block>
    <th:block th:if="${!valid}">
      <span class="text-danger" th:errors="*{__${name}__}">Error</span>
    </th:block>
  </div>
</th:block>
</body>
</html>