<link rel="stylesheet" th:href="@{/css/style.css}">
<link rel="stylesheet" th:href="@{/admin/vendors/iconfonts/mdi/css/materialdesignicons.min.css}">
<link rel="stylesheet" th:href="@{/admin/vendors/css/vendor.bundle.base.css}">
<link rel="stylesheet" th:href="@{/admin/vendors/css/vendor.bundle.addons.css}">
<link rel="shortcut icon" th:href="@{/images/favicon.png}" />
<link rel="stylesheet" href="/css/common.css">

<!-- Icon Css -->
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">